<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>Timing</title>
  <link rel="stylesheet" type="text/css" href="css/timing.css">
  <link rel="stylesheet" type="text/css" href="css/table.css">
  <link rel="stylesheet" href="jquery-ui/jquery-ui-themes-1.11.2/themes/cupertino/jquery-ui.css">
  <script src="jquery-ui/jquery-ui-1.11.2/external/jquery/jquery.js"></script>
  <script src="jquery-ui/jquery-ui-1.11.2/jquery-ui.js"></script>
  <script src="angular-js/1.2/angular.min.js"></script>
  <script src="angular-js/angular-timer-master/app/js/timer.js"></script>
  <script src="js/timing.js"></script>
</head>
<body>
  <h1>NeoLap</h1>
  <!-- Accordion -->
  <!--<div id="accordion">-->
  <h3>Motorsport</h3>
  <div id="ms" ng-app="raceApp" ng-init="recentWatermark = '-1'" ng-controller="raceController">
    <p>Premier Racing League</p>
    <select id="race" ng-init="race = 'Silverstone'" ng-model="race">
      <optgroup label="2014">
        <option value="Australia">Australia</option>
        <option value="Monaco">Monaco</option>
        <option value="Monza">Monza</option>
        <option value="Silverstone">Silverstone</option>
      </optgroup>
    </select>
    <p><a href="javascript:WebSocketTest()">Start Race</a></p>
    <p id="status">Socket Closed</p>
    <h2>{{race}}</h2>
    <h3>
      <!--<script>
        var app = angular.module('raceApp', ['timer']);
        app.filter('slice', function () {
          return function (arr, start, end) {
            return arr.slice(start, end);
          };
        });
      </script>-->
      <timer autostart="false" starttime="5000">Race time: {{hours === 0 ? '' : hours + ':'}}{{minutes === 0 ? '' : minutes + ':'}}{{sseconds}}.{{millis % 1000}}</timer>
    </h3>
    <table class="Page1" id="Page1" cellspacing="0">
      <thead>
        <tr>
          <th>P</th>
          <th></th>
          <th>Name</th>
          <th>Gap</th>
          <th>Int</th>
          <th></th>
          <th>S1</th>
          <th>S2</th>
          <th>S3</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in positions">
          <td ng-class="competitorStyle[$index]">{{x.pos}}</td>
          <td style="text-align:right" ng-class="competitorStyle[$index]">{{x.num}}</td>
          <td ng-class="competitorStyle[$index]">{{x.name}}</td>
          <td ng-class="default">{{$index == 0 && x.int != '' ? 'LAP' : x.gap}}</td>
          <td ng-class="lapNumStyle[$index]">{{x.int}}</td>
          <td ng-class="lapNumStyle[$index]">{{x.lap}}</td>
          <td ng-class="s1Style[$index]">{{x.s1}}</td>
          <td ng-class="s2Style[$index]">{{x.s2}}</td>
          <td ng-class="s3Style[$index]">{{x.s3}}</td>
        </tr>
      </tbody>
    </table>
    <div class="fixed-table-container">
      <div class="header-background"> </div>
      <div class="fixed-table-container-inner">
        <table id="messages" cellspacing="0">
          <thead>
            <tr>
              <th class="first">
                <div class="th-inner">No</div>
              </th>
              <th>
                <div class="th-inner">Message</div>
              </th>
            </tr>
          </thead>
          <tbody class="raw">
            <tr>
              <td>0</td>
              <td>Pitlane Open</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--<h1>Australia GP</h1>
    <h2>Timing Page</h2>
    <p>Replay of the Australian GP</p>
    <p>Top level navigation links here</p>
    <h3>Drivers</h3>
    <ul>
      <li>HAM</li>
      <li>ALO</li>
      <li>BUT</li>
    </ul>
    <h3>Teams</h3>
    <ol>
      <li><a href="mclaren.html" target="_blank">McLaren</a></li>
      <li>Ferrari</li>
      <li>Mercedes</li>
    </ol>-->
  </div>
  <h3>Running and Cycling</h3>
  <div>10K Cross Country</div>
  <!--</div>-->
  <script>
    $("#accordion").accordion();
  </script>
</body>
</html>
