tr:nth-child(even) {
  background-color: gainsboro;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0px 5px;
  text-align: left;
}

  td + td {
    border-left: 1px solid #ccc;
  }

th {
  padding: 0px 5px;
  text-align: left;
}

table.Page1 {
  background-color: black;
  color: yellow;
}

  table.Page1 > tbody > tr:nth-child(even) {
    background-color: black;
  }

  table.Page1 > thead > tr > th {
    background-color: black;
    color: lightgrey;
  }

  table.Page1 > tbody > tr > td {
    border: none;
  }

  table.Page1 tr.default {
    background-color: black;
    color: yellow;
  }

  table.Page1 tr.recent {
    background-color: black;
    color: white;
  }

  table.Page1 td.recent {
    background-color: black;
    color: white;
  }

.header-background {
  border-bottom: 1px solid black;
}

.fixed-table-container {
  width: 50%;
  height: 150px;
  border: 1px solid black;
  margin: 10px auto;
  background-color: white;
  position: relative;
  padding-top: 15px;
}

.fixed-table-container-inner {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.header-background {
  background-color: cornflowerblue;
  height: 15px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

table {
  background-color: white;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Verdana, Tahoma, sans-serif;
}

.th-inner {
  position: absolute;
  top: 0;
  line-height: 15px;
  text-align: left;
  border-left: 1px solid black;
  padding: 0px 5px;
  margin-left: -5px;
}

.first .th-inner {
  border-left: none;
  padding: 0px 5px;
}

.extrawrap th {
  text-align: center;
}

.extra-wrap {
  width: 100%;
}

.hidden-head {
  min-width: 530px;
}

.hidden-header .th-inner {
  position: static;
  overflow-y: hidden;
  height: 0;
  white-space: nowrap;
  padding-right: 5px;
}

.header .th-inner {
  background-color: #D5ECFF;
}
