html, body, h1, h2, h3, p, ol, ul, li, a {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  padding: 20px 20px 20px 20px;
}

h1 {
  margin: 10px 0px 10px 0px;
}

h2 {
  margin: 10px 0px 20px 0px;
}

h3 {
  margin: 15px 0px 15px 0px;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 3px;
}

ul, ol {
  padding: 0px 0px 0px 50px;
}

p {
  text-decoration: underline;
  color: red;
}

li {
  font-size: medium;
}

ul li {
  font-size: large;
  display: inline;
}

  ul li:first-child {
    font-size: larger;
    color: #00FF00;
  }

a {
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
    color: darkred;
  }

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

/* view-source:http://salzerdesign.com/test/fixedTable.html
td {
  border: 1px solid #ccc;
  border: 0px 5px 0px 5px;
  padding: 0px 5px 0px 5px;
  text-align: left;
}

td + td {
  border-left: 1px solid #ccc;
}

th {
  border: 0px 5px 0px 5px;
  padding: 0px 5px 0px 5px;
  text-align: left;
  background-color: cornflowerblue;
  width: auto;
}

tr:nth-child(even) {
  background-color: gainsboro;
}

.fixed-table-container {
  width: 40%;
  height: 180px;
  border: 1px solid #ccc;
  margin: 10px auto;
  background-color: white;
  position: relative;
  padding-top: 25px;
}

.fixed-table-container-inner {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.header-background {
  background-color: cornflowerblue;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

table {
  background-color: white;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: small;
}

.th-inner {
  position: absolute;
  top: 0;
  line-height: 25px;
  text-align: left;
  border-left: 1px solid #ccc;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -1px;
  margin-right: -1px;
  font-weight: 300;
}

.first .th-inner {
  border-left: none;
  padding-left: 2px;
  padding-right: 5px;
}

*/
