html, body, h1, h2, h3, p, ol, ul, li, a {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  padding: 20px 20px 20px 20px;
}

h1 {
  margin: 10px 0px 10px 0px;
  border-bottom: solid black 1px;
}

h2 {
  margin: 10px 0px 20px 0px;
}

h3 {
  margin: 15px 0px 15px 0px;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 3px;
}

ul, ol {
  padding: 0px 0px 0px 50px;
}

p {
  text-decoration: underline;
  color: red;
}

li {
  font-size: medium;
}

ul li {
  font-size: large;
  display: inline;
}

  ul li:first-child {
    font-size: larger;
    color: #00FF00;
  }

a {
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
    color: darkred;
  }

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
}

/* jQuery-UI Style
*/
body {
  font: 62.5% "Trebuchet MS", sans-serif;
  margin: 50px;
}

.demoHeaders {
  margin-top: 2em;
}

#dialog-link {
  padding: .4em 1em .4em 20px;
  text-decoration: none;
  position: relative;
}

  #dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
  }

#icons {
  margin: 0;
  padding: 0;
}

  #icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
  }

  #icons span.ui-icon {
    float: left;
    margin: 0 4px;
  }

.fakewindowcontain .ui-widget-overlay {
  position: absolute;
}

select {
  width: 200px;
}
